body {
    background-image:url(/home/tibau/Code/fiche/Photos/background);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
a {
    color: red;
}
a:visited {
    color: yellow;
}
a:hover {
    color: green;
}

header {
}
nav {
    background-color: #6699ff;
    border: 2px solid green;
    border-radius: 3em;
    margin-bottom: 1em;
    width: 62%;
    margin: 0% 29% 3% 18%
}
li.sommaire {
display: inline-block;
margin-left: 1em;
}
img#profil {
    margin-left: 67em;
}
div#background {
    background-image:url(/home/tibau/Code/fiche/Photos/Terre.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 139px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
li {
    color: yellow;
    text-align: center;
    font-size: 1.5em;
    list-style-type: none;
}
label {
    color: #282828;
}
h2 {
    margin: 0 22%;
    font-size: 190%;
    background-color: #6699ff;
    background-position: center;
    border: 2px solid green;
    border-left-style: dotted;
    border-right-style: dotted;
    border-radius: 3em;
    text-align: center;
}
img{
    display: inline-block;;
    margin: 0 auto;
}

label.identite {
    font-weight: bold;
}

fieldset {
    background-color: #6699ff;
    border: solid 0.1em green;
    border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 38%;
}
fieldset#comment {
    margin-top: -0.5em;
}
legend {
    font-weight: bold;
    border: solid 0.1em black;
    border-radius: 0.5em;
    background-color: green;
}

label.coordonnees {
    display:inline-block;
    font-weight: bold;
}
label.formulaire {
    color:#282828;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-left: 25%;
}

input.form {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-left: 25%;
}

input#envoyer {
    width: 50%;
    margin-left: 25%;
    margin-right: auto;
    display: inline;
}

textarea {
    display: block;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}
li#adresse1 {
    display: inline-block;
    text-align: left;
    margin-right: 46%;
    margin-bottom: 2.5%;
}

li#adresse2 {
    display:inline-block;
    text-align: right;
}

section {
    border-radius: 0.6em;
}

p {
    background-color: #6699ff;
    border: 2px solid green;
    border-radius: 0.6em;
    color: #282828;
    font-family: fantasy;
    margin: 0.5em 24%;
    padding: 1em;
}
section#contact {
    margin-bottom: 250px
}
