body {
color:black;
background-color:white;
background-image:url(/home/tibau/Code/fiche/Photos/background.jpg);
background-repeat: no-repeat;
background-size:cover;
padding-bottom: 200px;
}
div#background {
    background-image:url(/home/tibau/Code/fiche/Photos/horizontal.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 200px;
    width: 100%;
    position: fixed;
    bottom: 10px;
}
li {
    color: red;
    text-align: center;
    font-size: 1.5em;
    list-style-type: none;
}
label {
    color: #9A85C5;
}
h1 {
    margin: 0 5em;
    font-size: 3em;
    background-color: blue;
    background-position: center;
    border: 5px solid green;
    border-left-style: dotted;
    border-right-style: dotted;
    border-radius: 3em;
    border-width: 5px;
    text-align: center;
}
h1#biographie {
    margin: 0 5;
    font-size: 3em;
    background-color: blue;
    background-position: center;
    border: 5px solid green;
    border-left-style: dotted;
    border-right-style: dotted;
    border-radius: 3em;
    border-width:5px;
    text-align:center;
}
img{
    display: inline-block;;
    margin: 0 auto;
}
a {
    color: red;
}
a:hover {
    color: green;
}
a:visited {
    color: yellow;
}
p {
    font-family:fantasy;
    margin-top: 1.5em;
    background-color:blue;
}
label.identite {
    font-weight: bold;
}
label.coordonnees {
    display:inline-block;
    font-weight: bold;
    color:#5D801A;
}
li#adresse1 {
    display:inline-block;
    text-align: left;
}
li#adresse2 {
    margin-left: 25em;
    display:inline-block;
    text-align: right;
}
