body {
    background-image:url(/home/tibau/Code/fiche/Photos/background);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
header {
}
nav {
    background-color: #6699ff;
    border: 2px solid green;
    border-radius: 3em;
    margin-bottom: 1em;
    margin-left: 17em;
    width: 45em;
}
li.sommaire {
display: inline-block;
margin-left: 1em;
}
img#profil {
    margin-left: 67em;
}
div#background {
    background-image:url(/home/tibau/Code/fiche/Photos/Terre.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 200px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
li {
    color: red;
    text-align: center;
    font-size: 1.5em;
    list-style-type: none;
}
label {
    color: #282828;
}
h2 {
    margin: 0 5em;
    font-size: 3em;
    background-color: #6699ff;
    background-position: center;
    border: 2px solid green;
    border-left-style: dotted;
    border-right-style: dotted;
    border-radius: 3em;
    text-align: center;
}
img{
    display: inline-block;;
    margin: 0 auto;
}
a {
    color: red;
}
a:hover {
    color: green;
}
a:visited {
    color: yellow;
}
label.identite {
    font-weight: bold;
}
label.coordonnees {
    display:inline-block;
    font-weight: bold;
    color:#15500F;
}
label.formulaire {
    color:red;
}
li#adresse1 {
    display:inline-block;
    text-align: left;
    margin-right: 25em;
    margin-bottom: 2.5em;
}
li#adresse2 {
    display:inline-block;
    text-align: right;
}

section {
    border-radius: 0.6em;
}
p {
    font-family:fantasy;
    margin-top: 1.5em;
    background-color: #6699ff;
    color: #282828;
    border: 2px solid green;
    border-radius: 0.6em;
    padding: 1em
}
section#contact {
    margin-bottom: 250px
}
